.img-fluid{
    max-height: !important 400px;
}
.flex{
    display: flex;

}
.about{
    color: white;
}
.cover{
    background-color: rgba(58, 54, 54, 0.842);
    height: 100vh;
    margin: 30px;
}
.margin{
margin-top: !important 40px;
}
.center{
    text-align: center;
    margin-bottom: 20px;
}
