<h1 class="center">About Me</h1>
        <div class="col-md-4 mx-auto  margin">
          <!--Card-->
          <mdb-card dark="true">
      
            <!--Card image-->
            <div class="view overlay waves-light image" mdbWavesEffect>
              <mdb-card-img class="logo" src="assets/images/me2.jpeg"></mdb-card-img>
              <!-- <a>
                <div class="mask rgba-white-slight"></div>
              </a> -->
            </div>
            <!--/.Card image-->
      
            <!--Card content-->
            <mdb-card-body class="elegant-color white-text">
              <!-- <a class="activator px-3 mr-2">
                <mdb-icon fas icon="share-alt" class="white-text"></mdb-icon>
              </a> -->
      
              <!--Title-->
              <mdb-card-title>
                <h4 class="center">Carlos Degante</h4>
              </mdb-card-title>
      
              <hr class="hr-light">
      
              <!--Text-->
      
              <mdb-card-text class="white-text center">
                I am a software developer and a recent graduate from the Midland University Code Academy. 
                Before switching careers, I graduated from Southeast Community College with an Associate Degree in Applied Science, and worked as an automotive technician at Beardmore Subaru. 
                I have many hobbies including playing soccer, working on cars, and working on personal programming projects.
              </mdb-card-text>
            </mdb-card-body>
            <!--/.Card content-->
          </mdb-card>
          <!--/.Card-->
        </div>
      