  <h1>Portfolio</h1>
  <div class="container">
    <div class="row">
      <div class="col col-example">
        <!-- Card -->
        <mdb-card
          style="background-image: url('assets/images/soccerHub.jpeg')"
          class="card-image mb-3">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="green-text">
                <mdb-icon fas icon="futbol"></mdb-icon>
              Soccer
              </h5>
              <h3 class="card-title pt-2"><strong>Soccer Hub</strong></h3>
              <p>This site is a personal project I made. It allows you to watch recent highlights from around the world! You can search for players and teams.
                It also allows you to make a team from players you searched and make a fantasy team. I used Angular 8 to build the front end and Firebase for the backend.
              </p>
              <a mdbBtn color="green" class="waves-light" mdbWavesEffect href="https://soccer-page-9fe64.firebaseapp.com/">
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View project
              </a>
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      </div>





      <div class="col col-example">
        <!-- Card -->
        <mdb-card
          style="background-image: url('assets/images/cosmic.jpeg')"
          class="card-image mb-3">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="white-text">
                <mdb-icon fas icon="music"></mdb-icon>
                Music
              </h5>
              <h3 class="card-title pt-2"><strong>Cosmic Music Search</strong></h3>
              <p>This website is a group project me and 3 other classmates created. It was built using Angular 8 for front end, Firebase for backend and Deezer's Api for playing preview songs.
                This site allows you to search for music and, preview songs. We also allowed users to have a favorites section and create a playlist.  
              </p>

              <a mdbBtn color="white" class="waves-light" mdbWavesEffect href="https://cosmic-music-search.firebaseapp.com/login">
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View
                project
              </a>
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      </div>


      <div class="col col-example">
        <!-- Card -->
        <mdb-card
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')"
          class="card-image mb-3">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="orange-text">
                <mdb-icon fas icon="book"></mdb-icon>
                Learning
              </h5>
              <h3 class="card-title pt-2"><strong>Dual Learning App</strong></h3>
              <p>This project was a final for me and my classmates at the Midland Code Academy. We had to rework the site from our previous Code Academy Cohort.
                We ended up combining two projects into one site using Angular and Firebase for the backend. This site is for taking quizzes and uploading content. 
              </p>

              <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect href="https://quizapp-2b262.firebaseapp.com">
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View
                project
              </a>
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      </div>
     



    </div>
  </div>
