<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand class="navbar-brand name">
    Degante
</mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
     <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['/home']" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['/about']" mdbWavesEffect>About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['/portfolio']" mdbWavesEffect>Portfolio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['/contact']" mdbWavesEffect>Contact</a>
      </li>
    </ul>
    <!-- Links -->
 <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/carlos-degante-3677a815a">
          <mdb-icon fab icon="linkedin" ></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/degante95">
          <mdb-icon fab icon="github"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/carlos.degante.3">
          <mdb-icon fab icon="facebook-square" ></mdb-icon>
        </a>
      </li>
    </ul>
   

   
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>
<!--assets folder for pics i want 
  to make link need to setup router still <a [routerLink]="['/todos']">back to home</a>-->
