<div class="center">
    <h1 class="font">Carlos Degante</h1>
    <h2 class="font">Software Developer</h2>
 
  <a class=" p-2 m-2 li-ic" href="https://www.linkedin.com/in/carlos-degante-3677a815a"><mdb-icon fab icon="linkedin" size="2x" class="link"> </mdb-icon></a>
  <!-- Twitter -->
  <a class=" p-2 m-2 tw-ic" href="https://github.com/degante95"><mdb-icon fab icon="github"  size="2x" class="black-text"></mdb-icon></a>
  <!-- Dribbble -->
  <a class=" p-2 m-2 fb-ic" href="https://www.facebook.com/carlos.degante.3"><mdb-icon fab icon="facebook-square" size="2x" class="facebook"></mdb-icon></a>

</div> 
